body {
  background-image: url(img/ana--portt.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.topo {
  display: inline;
  text-align: right;
}
.frase {
  display: inline;
  text-align: right;
}
.direita {
}
