body {
  margin: 0;
}

.topo {
  background-image: url(img/ana--portt.jpg);
  text-align: right;
  border-width: 0ch;
  padding: 400px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.esquerda{

}

.direita{

}